.git
.github
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.venv
**/venv
**/node_modules
frontend/dist
backend/staticfiles
backend/media
backend/logs
*.md
!README.md
.env
.env.*
!.env.example
**/.gitignore
**/coverage
**/.coverage
**/.mypy_cache
**/htmlcov
